<footer>
    <h1>Lorem ipsum dolor</h1>
    <p>sit amet consectetur adipisicing elit. Fugiat aperiam explicabo maxime fuga officia neque maiores corporis velit ducimus, labore quia deleniti! Temporibus aliquam vel iste eius necessitatibus quia praesentium!</p>
</footer>