<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head.ejs') %> 
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <main class="container vh-100 pt-2 d-flex justify-content-center align-items-center text-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, minima reprehenderit doloremque maxime aut deserunt numquam accusantium tempora omnis aliquid mollitia odio harum similique at ducimus facere nam? Ullam dolor asperiores dolore consectetur, sapiente suscipit aut laboriosam magni amet saepe reprehenderit mollitia dolorum incidunt recusandae. Quaerat dicta pariatur placeat minus quidem nostrum quas voluptas totam est ex nam odit explicabo ratione omnis nemo recusandae ipsum eaque eum mollitia sapiente laborum, voluptate possimus. Vero unde, voluptatem quae praesentium quas harum laborum libero, tempore, sint at quia deleniti ad illum vitae totam facere. Ut eius sint autem iste repudiandae, laboriosam nisi corporis voluptas. Neque omnis in obcaecati inventore nisi. Quae facilis totam nam laboriosam enim? Quo deleniti eligendi veritatis doloremque quaerat sequi reprehenderit odit eaque similique ullam expedita excepturi suscipit labore neque, quasi eum tempora harum, corporis cupiditate ipsa! Sapiente explicabo vero voluptas esse rem voluptatibus aliquid expedita architecto quisquam ducimus in, cupiditate nesciunt. Omnis sequi quod hic harum architecto rerum nam optio fugiat ratione sint fuga distinctio aperiam, saepe beatae tempore iste asperiores nesciunt inventore eum. Ullam inventore quae quis atque, est voluptate? Deserunt cum asperiores beatae inventore dignissimos ex nostrum autem tempore laboriosam aut eum voluptates laudantium, in ipsam quis.</p>
      </section>
    </main>
    
    
  </body>
</html>
